<html>
	<table>
		<tr>
			<th> Description </th>
			
			<th> Price </th>
			
			<th> In_Stock </th>
			
			<th> Rating </th>
		</tr>
		<tr>
		</tr>
		<tr>
			<td> <%=des%> </td>
			<td> <%=price%> </td>
			<td> <%=stock%> </td>
			<td> <%=rate%> </td>
		</tr>
		
	</table>
</html>
