<html>
	<body>
		<link rel="stylesheet" href="/phone.css">
		<h1>
			Phone Shop Display
		</h1>
		<form method = 'POST' action = '/sam'>
			<p>
			Samsung_Galaxy(7x) 
			</p>
			<br>
			<button class='Samsung'>More Info</button>
		</form>
		
		<form method = 'POST' action = '/son'>
			<p>
			 	Sony_98x
			</p>
			<br>
			<button class = 'sony'>More Info</button>
		</form>
		<br>
		<form method = 'POST' action ='/rea'>
			<p>
			Real_me_3
			</p>
			<br>
			<button class = 'real'>More Info</button>
		</form>
		<br>
		<form method='POST' action = '/one'>
			<p>
			one_plus_4
			</p>
			<br>
			<button class = 'plus'>More Info</button>
		</form>

	</body>
</html>
