<link rel="stylesheet" href="/app.css">

<h1>
	Phone Shop Display
</h1>
<body>
	<form method = 'POST' action = '/sam'>
		<p>
		Samsung Galaxy 7x
		</p>
		<button class='Samsung'>More Info</button>
	</form>
	
	<form method = 'POST' action = '/son'>
		<p>
		 Sony 98x
		</p>
		<button class = 'sony'>More Info</button>
	</form>
	
	<form method = 'POST' action ='/rea'>
		<p>
		Real me 3
		</p>
		<button class = 'real'>More Info</button>
	</form>
	
	<form method='POST' action = '/one'>
		<p>
		one plus 4
		</p>
		<button class = 'plus'>More Info</button>
	</form>
	
</body>
